node_modules/
.env
*.env
.env.*
dist/
build/
.DS_Store

# Server specific
server/node_modules/
server/prisma/*.db
server/prisma/*.db-journal

# Client specific
client/node_modules/
client/dist/
client/build/
